/* this is for index page */
.entry {
    height: 500px;
    background-color: #F5F5F5;
}

.entry .w {
    height: 100%;
    background: url(../uploads/banner1.png) no-repeat;
}

.category {
    width: 250px;
    height: 100%;
    background-color: rgba(0, 0, 0, .42);
}

.category ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 12px 0 29px;
    color: #fff;
}

.category ul li:hover {
    background-color: #5EB69C;
    cursor: pointer;
}

.category ul li a {
    color: #fff;
    font-size: 14px;
}

.category ul li a:first-child {
    font-size: 16px;
    margin-right: 14px;
}

/* fresh goods section */
.box-Hd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 112px;
}

.box-Hd h2 {
    font-size: 30px;
}

.box-Hd h2 small {
    font-size: 16px;
    color: #A1A1A1;
    margin-left: 35px;
}

.box-Hd a {
    font-size: 16px;
    color: #A1A1A1;
}

.box-bd ul {
    display: flex;
    justify-content: space-between;
}

.box-bd ul li {
    width: 304px;
    height: 404px;
    text-align: center;
    background-color: #EEF9F4;
}

.box-bd ul li img {
    width: 304px;
    height: 304px;
}

.box-bd ul li .title {
    margin: 18px 0 15px 0;
    font-size: 20px;
    padding: 0 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.box-bd ul li .price {
    font-size: 22px;
    color: #AA2113;
}

.box-bd ul li small {
    font-size: 18px;
}

.box-bd ul li a {
    display: block;
    height: 100%;
}

.hot .box-bd ul li {
    background-color: #fff;
}

.hot {
    margin-bottom: 60px;
}

.hot .box-bd ul li .price {
    font-size: 16px;
    color: #A1A1A1;
}

/* cloth setion  */
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 102px;
    padding-top: 10px;

}

.head h2 {
    font-size: 30px;
}

.head-right {
    display: flex;
}

.head-right>a {
    color: #A1A1A1;
    font-size: 16px;
}

.head-right ul {
    display: flex;
    gap: 10px;
    margin-right: 60px;
}

.head-right ul li a {
    padding: 3px 8px;
    border-radius: 5px;
}

.head-right ul li a:hover {
    color: #fff;
    background-color: #5EB69C;
}

.body {
    display: flex;
    justify-content: space-between;
}

.body .body-l {
    height: 610px;
    width: 248px;
}

.body .body-r {
    display: flex;
    flex-wrap: wrap;
    width: 968px;
    height: 610px;
}

.body .body-r li {
    width: 242px;
    height: 305px;
    padding: 10px 21px 0;
}

.body .body-r li a {
    width: 100%;
    height: 100%;
    display: block;
    line-height: 19px;
}

.body .body-r li a img {
    height: 180px;
    width: 200px;
    margin-bottom: 10px;
}

.body .body-r li a .title {
    font-size: 16px;
}

.body .body-r li a .price {
    margin-top: 7px;
    font-size: 24px;
    color: #AA2113;
}

.body .body-r li a small {
    font-size: 16px;
}

/* 单行文本溢出显示省略号 做一个类名 */
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.news ul {
    display: flex;
    gap: 12px;
}

.news ul li {
    flex: 1;
    height: 355px;
}

.news ul li img {
    width: 100%;
}

.news ul li .con {
    height: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    font-size: 14px;
    color: #666;
}

.news .con .like {
    margin-right: 20px;
}